html {
    background-color: rgb(242, 229, 255);
    border: aquamarine;
}

h1,
h2,
p,
section {
    text-align: center;
}

ul {
    list-style-type: disc;
    padding-left: 4rem;
    margin: 0 auto;
    display: inline-block;
    text-align: left;
}

li {
    display: list-item;
    margin-bottom: 0.5rem;
}

img.perfil {
    border-radius: 50%;
    margin: 0 auto;
    height: 10rem;
}

#descricao_style {
    padding: 1rem 20rem;
    text-align: justify;
}

